# Sites

The archiving routine is currently capturing {{ site_list|length }} sites.

| Site  | Latest screenshot |
| :---- | :---------------: |
{% for obj in site_list -%}
|[{{ obj.name }}](https://palewi.re/docs/news-homepages/sites/{{ obj.handle }}.html)|[🔗](https://raw.githubusercontent.com/palewire/news-homepages/main/latest-screenshots/{{ obj.handle }}.jpg)|
{% endfor %}
